.hero {
    background-image: url('../../public/images/hero_announcements.png');
    background-size: cover;
    background-position: center center;
    height: 720px;
    display: flex;
    align-items: center;
    justify-content: center;
}
